<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FIFA BOT</title>
    <link rel="stylesheet" type="text/css" media="screen" href="styleViews/styleMainWindow.css" />
    
</head>
<body>
    <div id="left-menu"> 
        <button id="add-account" type="button"><p>ADD EA ACCOUNT</p></button>
        <button id="delete-account" type="button"><p>DELETE ACCOUNT</p></button>
        <div class="accounts">
            <div>Accounts Liste</div>
            <div id="parent">
                
                  
            </div>
              
        </div>
    </div>
    
   
    <script src="dala3.js"></script>
</body>
</html>