
body{
    background-color: #eeeef2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body, html {
    height: 100%;
    
  }

#main-box{
   width: 85%;
   height: 100%;
   background-color: #eeeef2;
   position: fixed;
   margin-left: 250px;
   z-index: 5;
   visibility: hidden;
   
}
#error-msg{
    width: 85%;
    margin-left: 250px;
    font-family: Lato mid;
    vertical-align: middle;
    line-height: 40px;
    height: 40px;
    position: absolute;
    z-index: 8;
    color: white;
    background-color: #F44336;
    visibility: hidden;
}

#error-txt{
    height: 100%;
    width: 100%;
    float: right;
    text-align: center;
}

#close-msg-icon{
    height: 40px;
    width: 40px;
    background-image: url('../icons/close-button.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    position: absolute;
    cursor: pointer;
    margin-left: 92%;
}

#close-msg-icon:hover{
    background-size: 18px 18px;
    transition: background-size 100ms;
}

#top-menu{
    height: 40px;
    width: 100%;
    background-color: #eeeef2;
    border-bottom: 1px solid #cccedb; 
    margin-left: 40px;  
}  

.info-compte{
    width: 10%;
    height: 100%;
    left: -40px;
    text-align: center;
    position: relative;
    color: #1e1e1e;
    float: left;
    font-family: lato heavy;
    font-size: 10px;

}

#club-name{
    margin-top: 8px;
    border-right: 1px solid #cccedb;
    padding-left: 2px;
    
}

#coins{
    margin-top: 8px;
    padding-left: 2px;
}

#left-menu{
    width: 250px; 
    height: 100%;
    background-color: #cccedb;
    min-width: 250px;
    overflow: hidden;
    z-index: 4;
    float: left;
}

.content-box{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    
}

.action-box{
    width: 250px;
    height: 150px;
    margin-left:150px;
    margin-top: 10px;
    background-color: #cccedb;
    padding-top: 5px;
    border-radius: 10px;
    float: left;
}

.action-box h1{
    text-align: center;
    color: #007acc;
    height: 15px;
    font-size: 20px;
    font-family: lato heavy;
}

#buy-players{
    width: 200px;
    height: 40px;
    margin-left: 25px;
    margin-top: 50px;
    border: 0;
    color: white;
    background-color: #007acc;  
    transition: all 0.3s ease 0s;
    outline: none;  
    cursor: pointer;
    border-radius: 5px;
    
}

#buy-players:hover{
    opacity: 0.55;
}

#buy-players p{
    font-size: 10px;
}

#api-key-btn{
    width: 200px;
    height: 40px;
    margin-left: 25px;
    margin-top: 20px;
    border: 0;
    color: white;
    background-color: #007acc;  
    transition: all 0.3s ease 0s;
    outline: none;  
    cursor: pointer;
    border-radius: 5px;
}

#api-key-btn:hover{
    opacity: 0.55;
}

#api-key-inp{
    width: 150px;
    height: 20px;
    margin-top: 5px;
    margin-left: 50px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #007acc;
    visibility: hidden;
}

::-webkit-input-placeholder { 
    color: #007acc;
    font-size: 10px;
    text-align: center;
  }

.view-details{
    height: 300px;
    width: 650px;
    margin-left: 150px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #cccedb;
    display: block;
    float: left;
}

#div-title{
    height: 40px;
    width: 100%;
    font-family: lato heavy;
    font-size: 20px;
    color: #007acc;
    text-align: center;
    margin-top: 10px;
}

#players-liste{
    width: 100%;
    height: 220px;
    overflow:hidden; 
    overflow-y:scroll;
}
.buy-state{
    width: 100%;
    height: 20px;
    font-family:  Lato mid;
    font-size: 12px;
}

#player-name{
    float: left;
    margin-left: 40px;
    padding-right: 20px;
}

#discription-pos{
    color: 	#34f434;
}

#discription-neg{
    color: #F44336;
}

#add-account{
    width: 100px;
    height: 40px;
    margin-left: 23px;
    margin-top: 40px;
    border: 0;
    background-color: #007acc;  
    transition: all 0.3s ease 0s;
    outline: none;  
    cursor: pointer;
    border-radius: 5px;
}
p {
   color:  #eeeef2;
   font-family: lato heavy;
   font-size: 8px ;
}

#add-account:hover{
    opacity: 0.55;
}

#delete-account{
    width: 100px;
    height: 40px;
    margin: 0;
    border: 0;
    background-color: #F44336;  
    transition: all 0.3s ease 0s;
    outline: none;  
    cursor: pointer;
    border-radius: 5px;
    

}
#delete-account:hover{
    opacity: 0.55;
}

.accounts{
    
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-top: 30px;
    
}
.accounts div{
    color: #007acc;
    font-family:  Lato mid;
    font-size: 15px ;
    text-align: center;

}
.email{
    width: 100%;
    height: 30px;
    display: flex;
    height: 30px;
    padding-right: 100px;
    vertical-align: 30px;
    cursor: pointer;
}
.email:hover{
    background-color:#b4b4b4; 
    
}

.email p{
    margin: 0;
    text-align: left; 
    color: #1e1e1e;
    font-family: Lato mid;
    font-size: 10px;
    position: relative;
    padding-left: 40px;
    padding-top: 8px;
    width: calc(100% - 60px); 
}

.delete-icon{
    width: 18px;
    height: 18px;
    background-image: url("../icons/icons8-cancel-48.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    position: absolute;
    margin-left: 6px;
    margin-top: 5px;
    visibility: hidden;
    cursor: pointer;
    pointer-events: auto;
}

.switch {
   /* margin-left: 110px;*/
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    margin: 7px 10px;
    pointer-events: auto;
    /* top:-32px; */
   
  }
.switch input {
    display: none;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 15px;
  }
.slider:before {
    position: absolute;
    content: "";
    font-size: 10px;
    height: 15px;
    width: 15px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 15px;
}
input:checked + .slider {
    background-color: #007acc;
}
input:focus + .slider {
    box-shadow: 0 0 1px #007acc;
}
input:checked + .slider:before {
    
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* ---- alert style ---- */
#alert-bgr{
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    opacity: 0.7;
    z-index: 4;
    visibility: hidden;
}
#alert-box{
    left: 35%;
    top: 35%;
    width: 280px;
    height: 110px; 
    background-color: #cccedb;
    border-radius: 8px;
    position: fixed;
    z-index: 5;
    visibility: hidden;
   
}
#alert-content{
    width: 100%;
    height: 70px;
    font-family: lato heavy;
    font-size: 15px;
    text-align: center;
    padding-top: 10px; 
}
#btn-box{
    height: 30px;
    width: 100%; 
}
#btn-ok {
    width: 50px;
    height: 25px;;
    border: none;
    border-radius: 3px;
    background-color: #007acc;
    outline: none;
    cursor: pointer;
    font-family: lato heavy;
    margin-left: 78.5px;
} 
#btn-ok:hover {
    opacity: 0.7;
}
#btn-cancel {
    width: 70px;
    height: 25px;;
    border: none;
    border-radius: 3px;
    background-color: #F44336;
    outline: none;
    cursor: pointer;
    font-family: lato heavy;
    margin-left: 8px;
}
#btn-cancel:hover {
    opacity: 0.7;
}
  
/* loading */
#load-back{
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    opacity: 0.7;
    z-index: 6;
    visibility: hidden;
}

#load-image{
    margin-left: 45%;
    margin-top: 25%;
    width: 100px;
    height: 100px; 
}

@media only screen and (max-width: 800px){
    #top-menu{
        width: 550px;
        margin-left: 0px;
     }
     #error-msg{
         width: 550px;
     }
     #close-msg-icon{
         margin-right: 0px;
         margin-left: 90%;
     }
    .info-compte{
        width: 20%;
        left: 0px;
    }
    .action-box{
        margin-left: 10px;
    }
    .view-details{
        height: 300px;
        width: 510px;
        margin-top: 10px;
        margin-left: 10px;
    }
}

/* scroll style*/
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #007acc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #b4b4b4; 

}

@font-face {
    font-family: Lato Heavy;
    src: url('../fonts/Lato-Heavy.ttf');
  }
@font-face {
  font-family: Lato mid;
  src: url('../fonts/Lato-Medium.ttf');
}